 /*--------- Body ---------*/
 body {
        background: #557CF2;
        font: 13px 'Lucida sans', Arial, Helvetica;
        color: #eee;
        text-align: center;
    }
    
    a {
        color: #ccc;
    }
/*-------------------------------------------------*/  
/*---------Quadrado de exibição dos dados---------*/
#square{
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: left;
}
/*-------------------------------------------------*/	
/*---------Bloco do formulario de pesquisa---------*/
.form-wrapper {
    width: 450px;
    padding: 5px;
    margin: 22px auto 50px auto;
    background: #444;
    background: rgba(0,0,0,.2);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}

.form-wrapper input {
    width: 330px;
    height: 40px;
    padding: 10px 5px;
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px; 
    color: black;     
}

.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}    

.form-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #98BF49;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;      
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}   
    
.form-wrapper button:hover{		
    background: #7c9e37;
}	
    
.form-wrapper button:active,
.form-wrapper button:focus{   
    background: #67832e;    
}

.form-wrapper button::-moz-focus-inner {
    border: 0;
    padding: 0;
}
/*-------------------------------------------------*/
/*---------Caixa que envolve o resultado da pesquisa---------*/	
.box {
    background: #f2f2f0;
    padding-top: 13px;
    margin-bottom: 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/*-------------------------------------------------*/	
/*---------Logo ---------*/	
.aumblerito{
    width: 170;
    margin-left: 220px;
}
/*-------------------------------------------------*/	
/*---------Titulo ---------*/	
.title {
    padding-top: 36px;
    letter-spacing: 1px;
    font-size: 55px;
    font-weight: 900;
    text-align: left;
    margin-left: 112px;
}
/*-------------------------------------------------*/
/*--------- Margem superior ---------*/	
.marginsearch{
    padding-top: 125px;
}
/*-------------------------------------------------*/

.floatleft{
    float: left
}
.domainsquare{
    padding-bottom: 30px;
}
.domaintitle{
    padding-left: 50px;
    font-size: 25px;
    font-weight: 400;
}

.text{
    padding-left: 5px;
    font-size: 25px;
    font-weight: 400;
}
.hosttitle{
    padding-left: 100px;
    font-size: 25px;
    font-weight: 400;
}

